.mapParent {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  // overflow: hidden;
}
html{
  overflow: hidden;
  margin:0;
  padding:0;
}
#map{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  cursor: pointer !important;;
}
.test-btn{
  position:absolute;
  z-index: 1000;
  bottom:16px;
  right: 16px;
}
.btn-container{
  position: absolute;
  bottom: 0px;
  padding-left:100px;
  z-index: 1000;
  padding-bottom: 16px;
  float: right;
}
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

.box-card {
  width: 480px;
}
.infoWindow{
  position:absolute;
  width:400px;
  height:600px;
  z-index: 999;
}
.infoBox{
  background-color: #ffffff;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
}
table.reference, table.tecspec {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
}
table.reference tr:nth-child(odd) {
  background-color: #f6f4f0;
}
table.reference tr:nth-child(even) {
  background-color: #fff;
}
table.reference td {
  line-height: 2em;
  min-width: 200px;
  border: 1px solid #d4d4d4;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
}